.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px;
  padding: 20px;
}

.reviews-cards {
  padding: 20px;
}

.review {
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  color: rgb(106, 106, 106);
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  margin: 0;
}

.user-role {
  font-size: 14px;
  color: #666;
  margin: 0;
}
